<h2 class="title title-stat" style="margin-top: 100px">Átlagos Képzési Óraszám (ÁKÓ)</h2>

<div class="container course-table"><table class="table table-striped table-bordered">
	<tbody>
	<tr>
		<th colspan="2">K&eacute;pzőszerv</th>
		<th>A1, A2, A kat.</th>
		<th>AM kat.</th>
		<th>B kat.</th>
		<th>C kat.</th>
		<th>Időszak</th>
	</tr>
	<tr>
		<td>N&eacute;v</td>
		<td>Azonos&iacute;t&oacute;</td>
		<td>Gyakorlat</td>
		<td>Gyakorlat</td>
		<td>Gyakorlat</td>
		<td>Gyakorlat</td>
		<td>Negyed&eacute;v</td>
	</tr>
	<tr>
		<td>Szemi Aut&oacute;s-Motoros Iskola</td>
		<td>7804</td>
		{{# each ako}}
			<td>{{{gyakorlat}}}</td>
		{{/each}}
		<td>{{ako.0.negyedev}}</td>
	</tr>
	</tbody>
</table>
</div>

<h2 class="title title-stat">Vizsga Sikerességi Mutató (VSM)</h2>

<div class="container course-table"><table class="table table-striped table-bordered">
	<tbody>
	<tr>
		<th colspan="2">K&eacute;pzőszerv</th>
		<th colspan="2">A1, A2, A kateg&oacute;ria</th>
		<th colspan="2">AM kateg&oacute;ria</th>
		<th colspan="2">B kateg&oacute;ria</th>
		<th colspan="2">C kategória</th>
		<th>Időszak</th>
	</tr>
	<tr>
		<td>N&eacute;v</td>
		<td>Azonos&iacute;t&oacute;</td>
		<td>Elm&eacute;let</td>
		<td>Gyakorlat</td>
		<td>Elm&eacute;let</td>
		<td>Gyakorlat</td>
		<td>Elm&eacute;let</td>
		<td>Gyakorlat</td>
		<td>Elm&eacute;let</td>
		<td>Gyakorlat</td>
		<td>Negyed&eacute;v</td>
	</tr>
	<tr>
		<td>Szemi Aut&oacute;s-Motoros Iskola</td>
		<td>7804</td>
		{{# each vsm}}
			<td>{{{elmelet}}}</td>
			<td>{{{gyakorlat}}}</td>
		{{/each}}
		<td>{{vsm.0.negyedev}}</td>
	</tr>
	</tbody>
</table>
</div>

<h2 class="title title-stat">Képzési Költség (KK)</h2>

<div class="container course-table"><table class="table table-striped table-bordered">
	<tbody>
	<tr>
		<th colspan="2">Szemi Aut&oacute;s-Motoros Iskola 7804</th>
	</tr>
	<tr>
		<td>Kateg&oacute;ria</td>
		<td>K&eacute;pz&eacute;si K&ouml;lts&eacute;g</td>
	</tr>
	{{# each kk}}
		<tr>
			<td>{{{tipus}}}</td>
			<td>{{{koltseg}}}</td>
		</tr>
	{{/each}}
	</tbody>
</table>
</div>
